---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <section {...Astro.props}>
      <h3
        id="tags-title"
        class="ff-pixelated fs-pixelated-small color-secondary"
      >
        <a
          href="/tags/"
          class="color-secondary hoverable"
          title="All Tags"
          aria-label="Tags"
        >
          [+] Tags
        </a>
      </h3>
      <ul
        class="cluster | ff-dotmatrix fs-fluid--1"
        aria-labelledby="tags-title"
      >
        {tags.map((item) => (
          <li>
            <a href={`/tags/${item}/`} class="tag | hoverable">
              {item}
            </a>
          </li>
        ))}
      </ul>
    </section>
  )
}

<style lang="scss">
  section {
  }

  h3 {
    max-width: max-content;
    margin-bottom: 8px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  ul {
    --gutter: 1.25ch;
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 0.25ch;
    text-transform: uppercase;

    &::before {
      content: "#";
      font-size: 1.1em;
      margin-bottom: 2px;
      font-family: var(--ff-pixelated);
      font-size-adjust: var(--fs-adjust-pixelated);
      color: var(--color-text-subdued);
      transition: color 0.1s ease-in-out;
      line-height: 1cqh;
    }

    &:is(:hover, :focus-within) {
      &::before {
        color: var(--color-text-highlight);
      }
    }
  }
</style>
