---
interface Props {
  href: string;
  title: string;
  subtitle?: string;
  class?: string;
}

const { href, title, subtitle } = Astro.props;
---

<header class:list={Astro.props.class}>
  <h4 class="title | ff-pixelated fs-medium">
    <a class="hoverable" href={href}>{title}</a>
    <span aria-hidden="true">↱</span>
  </h4>
  {subtitle && <h5 class="subtitle | ff-pixelated fs-small">{subtitle}</h5>}
</header>

<style lang="scss">
  header {
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    overflow: hidden;
  }

  .title {
    width: fit-content;
    line-height: inherit;
    letter-spacing: 0.05ch;

    a {
      position: relative;

      &:focus {
        outline: none;
      }

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: -3px;
        background: var(--color-text-highlight);
        opacity: 1;
        transition:
          opacity 0.2s var(--ease-in-out-4),
          transform 0.2s var(--ease-in-out-5);
        transform: translate3d(-101%, 0, 0);
      }
    }

    span {
      user-select: none;
      transition: color 0.2s var(--ease-in-out-4);
    }

    &:is(:hover, :active, :focus-within) {
      a::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      span {
        color: var(--color-text-subdued);
      }
    }
  }

  .subtitle {
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-text-secondary-shade);
  }
</style>
