---
import ProjectCard from "@/components/project/ProjectCard.astro";
import type { Project } from "@/helpers/project";

import ProjectCardHeader from "./ProjectCardHeader.astro";

interface Props {
  title: string;
  projects: Project[];
  startIndex?: number;
  displayAllProjectsListItem?: boolean;
}

const {
  title,
  projects,
  startIndex = 0,
  displayAllProjectsListItem,
} = Astro.props;
---

<section title={title} class="project-group">
  <h4>{title}</h4>
  <ol>
    {
      projects.map((project, i) => (
        <li>
          <span class="marker | ff-dotmatrix" role="presentation">
            {(startIndex + i).toString().padStart(2, "0")}
          </span>
          <ProjectCard project={project} />
        </li>
      ))
    }
    {
      displayAllProjectsListItem && (
        <li>
          <span class="marker | ff-dotmatrix" role="presentation">
            ++
          </span>
          <ProjectCardHeader
            href="projects/1"
            title="All Projects"
            subtitle="Yes, there are more :)"
          />
        </li>
      )
    }
  </ol>
</section>

<style lang="scss">
  .project-group {
    --gap: 1.125rem;
  }

  h4 {
    display: inline-flex;
    align-items: center;
    gap: 2ch;
    padding-left: calc(2px + 2ch);
    margin-bottom: var(--gap);

    font-family: var(--ff-dotmatrix);
    font-size: var(--fs-small);
    letter-spacing: calc(2 * var(--letter-spacing-fluid-header));
    text-transform: uppercase;
    color: var(--color-text-subdued);
    background-color: var(--color-background);

    &::before {
      content: "";
      width: 50px;
      height: 2px;
      background-color: var(--color-barely-visible);
      flex-shrink: 0;
    }
  }

  .project-group + .project-group {
    margin-top: var(--gap);
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
  }

  li {
    display: grid;
    grid-template-columns: 24px 1fr;
    column-gap: 2ch;

    .marker {
      height: fit-content;
      justify-self: center;
      padding-top: 1.5px;
      font-weight: bold;
      white-space: nowrap;
      color: var(--color-text-secondary-shade);
      background-color: var(--color-background);
      box-shadow: 0 0 0 2px var(--color-background);
      transition: color 0.25s ease-in-out;

      @media (prefers-reduced-motion: no-preference) {
        @supports (view-timeline-name: --item-timeline) {
          view-timeline-name: --item-timeline;
          animation-name: marker--reveal;
          animation-fill-mode: both;
          animation-timeline: --item-timeline;
          animation-range: cover 0% cover 10%;
        }
      }
    }

    &:has(.title:is(:hover, :active, :focus-within)) {
      .marker {
        color: var(--color-text-primary);
      }
    }
  }

  @keyframes marker--reveal {
    from {
      opacity: 0;
      translate: 0 5vh;
    }
  }
</style>
