---
import GitHubIcon from "@astropub/icons/GitHubLogo";
import LinkIcon from "@astropub/icons/Link2";
import StarIcon from "@astropub/icons/StarFilled";

import { isGithubUrl } from "@/utils/github/helpers";

interface Props {
  stars?: number;
  repository?: string;
  slug?: string | boolean;
}

const { stars, repository, slug } = Astro.props;

const RepoIcon = repository && isGithubUrl(repository) ? GitHubIcon : LinkIcon;
---

<ul class="infoline | cluster | ff-pixelated fs-small">
  {
    stars != null && stars > 0 && (
      <li class="infoline__item stars">
        <StarIcon size="12" class="color-amber" />
        <span>{stars} stars</span>
      </li>
    )
  }

  {
    repository && (
      <li class="infoline__item repository">
        <a
          class="hoverable"
          href={repository}
          title="Visit Repository"
          target="_blank"
          rel="noopener noreferrer"
        >
          <RepoIcon size="12" />
          <span>Repository</span>
        </a>
      </li>
    )
  }

  {
    !(repository || stars) && typeof slug === "string" && (
      <li class="infoline__item">
        <a class="hoverable" href={`/${slug}/`} title="Read more">
          <span>More Info</span>
          <span class="symbol">»</span>
        </a>
      </li>
    )
  }
</ul>

<style lang="scss">
  .infoline {
    --gutter: 1ch;

    text-transform: uppercase;

    &__item {
      &,
      & > a {
        display: flex;
        align-items: center;
        gap: 1ch;
      }

      .symbol {
        color: var(--color-text-subdued);
        transition: color 0.2s ease-in-out;
      }

      &:is(:hover, :active, :focus-within) {
        .symbol {
          color: var(--color-text-secondary);
        }
      }
    }

    &__item + &__item {
      &::before {
        content: "|";
        color: var(--color-text-subdued);
        opacity: 0.75;
      }
    }
  }
</style>
