.ff-monospace {
  font-family: var(--ff-monospace);
}

.ff-dotmatrix {
  font-family: var(--ff-dotmatrix);
  font-size-adjust: var(--fs-adjust-dotmatrix);
}

.ff-pixelated {
  font-family: var(--ff-pixelated);
  font-size-adjust: var(--fs-adjust-pixelated);
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-pixelated-small {
  font-size: var(--fs-pixelated-small);
}

.fs-pixelated-medium {
  font-size: var(--fs-pixelated-medium);
}

.fs-pixelated-large {
  font-size: var(--fs-pixelated-large);
}

.fs-fluid-0 {
  font-size: var(--fs-fluid-0);
}

.fs-fluid-1 {
  font-size: var(--fs-fluid-1);
}

.fs-fluid-2 {
  font-size: var(--fs-fluid-2);
}

.fs-fluid-3 {
  font-size: var(--fs-fluid-3);
}

.fs-fluid-4 {
  font-size: var(--fs-fluid-4);
}
