.quoted {
  &::before,
  &::after {
    color: var(--color-text-subdued);
  }

  &::before {
    content: open-quote;
    margin-right: var(--quote-margin, 0.25ch);
  }

  &::after {
    content: close-quote;
    margin-left: var(--quote-margin, 0.25ch);
  }
}

.quoted[data-quote-mark] {
  &::before,
  &::after {
    content: attr(data-quote-mark);
  }
}
