@import url(./accessibility.css);
@import url(./reel.css);
@import url(./cluster.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./container.css);
@import url(./quoted.css);

:where(.hoverable) {
  cursor: pointer;
  transition: color 0.2s var(--ease-in-out-1);

  &:is(:hover, :active, :focus-within) {
    color: var(--color-text-highlight);
  }
}

.scrollbar-thin {
  --thumb-color: var(--color-text-subdued);

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lch(from var(--thumb-color) calc(l + 5) c h);
  }
}
