---
import Section from "@/components/Section.astro";
import { GITHUB_USERNAME } from "@/site.config";
import { cached } from "@/utils/cache";
import { getTotalPublicRepos, getTotalStars } from "./utils/github";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME),
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About" class="container:inline-size">
  <p class="fs-fluid-0">
    I am a passionate javascript developer who turns complex problems into
    simple solutions using the right architecture. I have over <span
      class="quoted highlight">{publicRepos}</span
    > public repositories and earned around
    <span class="quoted highlight">{stars}</span> stars on github.
  </p>
</Section>

<style>
  .highlight {
    font-family: var(--ff-pixelated);
    font-size-adjust: var(--fs-adjust-pixelated);
    color: var(--color-text-highlight);
  }

  @container (width < 35rem) {
    p {
      text-wrap: balance;
    }
  }
</style>
