---
import { GITHUB_USERNAME } from "@/site.config";
import Section from "@/components/Section.astro";
import Socials from "./Socials.astro";
import { getTotalPublicRepos, getTotalStars } from "./utils/github";
import { cached } from "@/utils/cache";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME)
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About">
  <p>
    I am a passionate JavaScript developer with over <span class="highlight"
      >{publicRepos}</span
    > public repositories and
    <span class="highlight">{stars}</span> stars on github.
  </p>
</Section>

<style>
  .highlight {
    font-family: var(--ff-pixelated);
    font-size: 0.78em;
    font-weight: bold;
    color: var(--clr-text-highlight);
  }
</style>
