---
import Section from "@/components/Section.astro";
import Socials from "./Socials.astro";
---

<Section title="About">
  <p>
    Passionate JavaScript develeoper with a focus on full-stack development.
  </p>

  <Socials />
</Section>
