---
import Section from "@/components/Section.astro";
import { GITHUB_USERNAME } from "@/site.config";
import { cached } from "@/utils/cache";
import { getTotalPublicRepos, getTotalStars } from "@/utils/github/helpers";

import ExtraLinks from "./ExtraLinks.astro";
import Socials from "./Socials.astro";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME),
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About" class="container:inline-size | flow">
  <p class="fs-fluid-0">
    Developer & Engineer with an <span class="underlined"
      >M.Tech in Electronics and Communication</span
    >, building practical open-source solutions across web technologies,
    developer tooling, and embedded systems.</p
  >

  <p
    >Active <span class="underlined">open-source contributor</span> with
    <span class="quoted highlight" data-quote-mark="*">{publicRepos}</span> public
    repositories and <span class="quoted highlight" data-quote-mark="*"
      >{stars}</span
    > earned stars.
  </p>

  <p>
    <!-- Connect with me <span class="color-orange">...</span> -->
  </p>
  <div class="socials-and-extra-links">
    <Socials />
    <ExtraLinks />
  </div>
</Section>

<style>
  .flow {
    --flow-space: var(--space-fluid-xs);
  }

  .highlight {
    font-family: var(--ff-pixelated);
    font-size-adjust: var(--fs-adjust-pixelated);
    color: var(--color-text-highlight);
  }

  .underlined {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--color-orange);
  }

  .socials-and-extra-links {
    --socials-icon-size: calc(0.9 * var(--space-fluid-m));

    display: flex;
    flex-direction: column;
    padding-top: calc(1.25 * var(--flow-space));
    row-gap: var(--space-fluid-s);
  }

  @container (width < 35rem) {
    p {
      text-wrap: stable;
    }
  }
</style>
