---
import Section from "@/components/Section.astro";
import { GITHUB_USERNAME } from "@/site.config";
import { cached } from "@/utils/cache";
import { getTotalPublicRepos, getTotalStars } from "@/utils/github/helpers";

import Socials from "./Socials.astro";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME),
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About" class="container:inline-size | flow">
  <p class="fs-fluid-0">
    I am a passionate javascript developer, crafting efficient and scalable
    solutions to complex challenges.</p
  >

  <p
    >With over <span class="quoted highlight" data-quote-mark="*"
      >{publicRepos}</span
    > public repositories and around <span
      class="quoted highlight"
      data-quote-mark="*">{stars}</span
    > earned stars, I am active contributer in the open-source community.
  </p>

  <p> Connect with me on ... </p>
  <Socials />
</Section>

<style>
  .flow {
    --flow-space: var(--space-fluid-xs);
  }

  .highlight {
    font-family: var(--ff-pixelated);
    font-size-adjust: var(--fs-adjust-pixelated);
    color: var(--color-text-highlight);
  }

  @container (width < 35rem) {
    p {
      text-wrap: balance;
    }
  }
</style>
