---
import Section from "@/components/Section.astro";
import { GITHUB_USERNAME } from "@/site.config";
import { cached } from "@/utils/cache";
import { getTotalPublicRepos, getTotalStars } from "@/utils/github/helpers";

import Resume from "./Resume.astro";
import Socials from "./Socials.astro";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME),
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About" class="container:inline-size | flow">
  <p class="fs-fluid-0">
    A <span class="underlined">passionate javascript developer</span>, who loves
    crafting efficient and scalable solutions to complex challenges.</p
  >

  <p
    >I am an <span class="underlined">active contributor</span> in the open-source
    community with over
    <span class="quoted highlight" data-quote-mark="*">{publicRepos}</span> public
    repositories and <span class="quoted highlight" data-quote-mark="*"
      >{stars}</span
    > earned stars.
  </p>

  <p>
    Connect with me <span class="color-orange">...</span>
  </p>
  <Socials />
  <Resume />
</Section>

<style>
  .flow {
    --flow-space: var(--space-fluid-xs);
  }

  .highlight {
    font-family: var(--ff-pixelated);
    font-size-adjust: var(--fs-adjust-pixelated);
    color: var(--color-text-highlight);
  }

  .underlined {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--color-orange);
  }

  @container (width < 35rem) {
    p {
      text-wrap: stable;
    }
  }
</style>
