---
import Section from "@/components/Section.astro";
import { GITHUB_USERNAME } from "@/site.config";
import { cached } from "@/utils/cache";
import { getTotalPublicRepos, getTotalStars } from "./utils/github";

const publicRepos = await cached("total-public-repos", () =>
  getTotalPublicRepos(GITHUB_USERNAME),
);

const stars = await cached("total-stars", () => getTotalStars(GITHUB_USERNAME));
---

<Section title="About">
  <p>
    I am a passionate javascript developer who turns complex problems into
    simple solutions using the right architecture. I have <span
      class="highlight">{publicRepos}</span
    > plus public repositories and earned over
    <span class="highlight">{stars}</span> stars on github.
  </p>
</Section>

<style>
  .highlight {
    font-family: var(--ff-pixelated);
    font-size: 0.78em;
    font-weight: bold;
    color: var(--clr-text-highlight);
  }

  p {
    @media screen and (max-width: 600px) {
      text-wrap: balance;
    }
  }
</style>
