---
interface Props {
  company: string;
  designation?: string;
}

const { company, designation } = Astro.props;
---

<article>
  <h4 class="company">{company}</h4>
  {designation && <span class="designation"> &lt; {designation} /&gt;</span>}
</article>

<style>
  article {
    container-type: inline-size;

    display: flex;
    align-items: center;
    column-gap: 2ch;
    flex-wrap: wrap;

    @container (max-width: 600px) {
      & {
        flex-direction: column;
      }
    }

    .company {
      font-family: var(--ff-pixelated);
      font-size: var(--fs-pixelated-medium);
      line-height: 1.5;
      font-weight: normal;
      white-space: nowrap;
    }

    .designation {
      color: color-mix(in srgb, var(--color-text-secondary), transparent 40%);
    }
  }
</style>
