---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  experience: CollectionEntry<"experiences">;
}

const { experience } = Astro.props;
const { company, designation } = experience.data;

const { Content } = await render(experience);
---

<article class="container:inline-size">
  <header>
    <h4 class="company | ff-pixelated fs-pixelated-medium">{company}</h4>
    {
      designation && (
        <span class="designation | ff-pixelated fs-small">{`< ${designation} />`}</span>
      )
    }
  </header>

  <div class="content | color-secondary fs-fluid-0">
    <Content />
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    header {
      display: flex;
      column-gap: 1ch;
      flex-wrap: wrap;
      align-items: baseline;

      @container (width < 35rem) {
        & {
          row-gap: var(--size-1);
          flex-direction: column;
        }
      }

      .company {
        line-height: inherit;
        font-weight: normal;
        white-space: nowrap;
        font-weight: bold;
        letter-spacing: 0.05ch;
      }

      .designation {
        height: min-content;
        line-height: 1;
        text-transform: uppercase;
        color: var(--color-text-secondary-shade);
      }
    }

    .content {
      max-width: 65ch;
      text-wrap: balance;
    }
  }
</style>
