---
interface Props {
  company: string;
  designation?: string;
}

const { company, designation } = Astro.props;
---

<div class="card">
  <span class="symbol">++</span>
  <div class="stack">
    <span class="company">{company}</span>
    {designation && <span class="designation"> &lt; {designation} /&gt;</span>}
  </div>
</div>

<style>
  .card {
    --gap: 2ch;

    padding-inline-start: 1ch;
    display: flex;
    align-items: flex-start;
    column-gap: var(--gap);

    .symbol {
      color: var(--clr-text-subdued);
      font-family: var(--ff-dotmatrix);
      font-weight: bold;
      white-space: nowrap;

      translate: 0 2px;
    }

    .stack {
      display: flex;
      column-gap: var(--gap);
      flex-wrap: wrap;
    }

    @container (max-width: 600px) {
      .stack {
        gap: unset;
        flex-direction: column;
      }
    }

    .company {
      white-space: nowrap;
      color: var(--clr-text-primary);
    }

    .designation {
      color: var(--clr-text-secondary);
      opacity: 0.6;
    }
  }
</style>
