---
import Section from "@/components/Section.astro";
import ExperienceCard from "./ExperienceCard.astro";
---

<Section title="Experience">
  <ExperienceCard
    company="UniConverge Technologies"
    designation="FullStack Developer, Intern"
  />
</Section>
