---
interface Props {
  company: string;
  designation?: string;
}

const { company, designation } = Astro.props;
---

<article class="container:inline-size">
  <h4 class="company | ff-pixelated fs-pixelated-medium">{company}</h4>
  {designation && <span class="designation"> &lt; {designation} /&gt;</span>}
</article>

<style>
  article {
    display: flex;
    column-gap: 2ch;
    flex-wrap: wrap;

    @container (width < 35rem) {
      & {
        flex-direction: column;
      }
    }

    .company {
      line-height: inherit;
      font-weight: normal;
      white-space: nowrap;
      font-weight: bold;
      letter-spacing: 0.05ch;
    }

    .designation {
      color: color-mix(in srgb, var(--color-text-secondary), transparent 40%);
    }
  }
</style>
