---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  experience: CollectionEntry<"experiences">;
}

const { experience } = Astro.props;
const { company, designation } = experience.data;

const { Content } = await render(experience);
---

<article class="container:inline-size">
  <header>
    <h4 class="company | ff-pixelated fs-pixelated-medium">{company}</h4>
    {designation && <span class="designation">{`< ${designation} />`}</span>}
  </header>

  <div class="content | color-secondary fs-fluid-0">
    <Content />
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 4px;

    header {
      display: flex;
      column-gap: 2ch;
      flex-wrap: wrap;

      @container (width < 35rem) {
        & {
          flex-direction: column;
        }
      }

      .company {
        line-height: inherit;
        font-weight: normal;
        white-space: nowrap;
        font-weight: bold;
        letter-spacing: 0.05ch;
      }

      .designation {
        color: var(--color-text-secondary-shade);
      }
    }

    .content {
      max-width: 65ch;
      text-wrap: balance;
    }
  }
</style>
