<footer>
  <hr />
  <span>Created with ❤️ by Tanishq Manuja</span>
</footer>

<style>
  footer {
    font-family: var(--ff-pixelated);
    font-size: var(--font-size-0);
    text-align: center;

    hr {
      margin: 0;
      border-color: var(--clr-text-subdued);
      border-style: dashed;
    }

    span {
      display: block;
      padding-block: 1rem 1.125rem;
      word-spacing: 0.5ch;
    }
  }
</style>
