<footer>
  <span>Created with ❤️ by Tanishq Manuja</span>
</footer>

<style>
  footer {
    font-family: var(--ff-nothing);
    font-size: var(--font-size-0);
    text-align: center;

    & > span {
      word-spacing: 0.5ch;
      display: block;
      padding-block: 1rem;
    }
  }
</style>
