<header>
  <h1 id="header" class="header__title" aria-label="Tanishq Manuja">
    Tanishq Manuja
  </h1>
  <h2 class="header__subtitle">Software Developer</h2>
</header>

<style>
  header {
    margin-top: clamp(30px, 7vw, 6rem);
  }

  .header__title {
    width: fit-content;
    color: var(--clr-text-highlight);
    font-size: var(--font-size-fluid-3);
    font-family: var(--ff-pixel);
    font-weight: normal;
    text-indent: -1px;
    letter-spacing: clamp(1px, 0.4vw, 0.175rem);

    transition: opacity 0.2s;
    opacity: 0.9;

    &:is(:hover, :focus-within) {
      opacity: 1;
    }
  }

  .header__subtitle {
    text-wrap: stable;
    width: fit-content;
    margin-top: 2px;
    color: var(--clr-text-secondary);
    font-size: var(--font-size-fluid-1);
    font-family: var(--ff-pixel);
    font-weight: normal;

    &::before,
    &::after {
      opacity: 0.3;
    }

    &::before {
      content: "{";
      padding-right: 1ch;
    }

    &::after {
      content: "}";
      padding-left: 1ch;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrambleTextPlugin } from "@/lib/gsap/ScrambleTextPlugin";

  gsap.registerPlugin(ScrambleTextPlugin);

  const DEFAULT_CHARS =
    "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  function scramble<Event extends PointerEvent | FocusEvent>(
    event: Pick<Event, "target">
  ) {
    const target = event.target as HTMLElement;

    if (!target) {
      console.warn("[SCRAMBLE]: No target found");
      return;
    }

    if (
      !gsap.isTweening(target) &&
      window.matchMedia("(prefers-reduced-motion: no-preference)").matches
    ) {
      gsap.to(target, {
        duration: 0.8,
        ease: "sine.in",
        scrambleText: {
          text: target.innerText,
          speed: 2,
          chars: DEFAULT_CHARS,
          rightToLeft: true,
        },
      });
    }
  }

  const header = document.getElementById("header")!;
  header.addEventListener("pointerenter", scramble);
  header.addEventListener("focus", scramble);
</script>
