---
import { AUTHOR } from "@/site.config";
---

<header>
  <h1 id="header" aria-label={AUTHOR}>{AUTHOR}</h1>
  <h2>Software Developer</h2>
</header>

<style>
  @keyframes header--leaveview {
    to {
      opacity: 0;
    }
  }

  header {
    --fs-fluid-header: clamp(2.05rem, 7.2vw, 3.75rem);
    --fs-fluid-subheader: calc(var(--font-size-fluid-1) * 1.1);

    margin-top: var(--space-fluid-m-3xl);

    h1 {
      width: fit-content;
      color: var(--color-text-highlight);
      font-family: var(--ff-pixelated);
      font-size: var(--fs-fluid-header);
      font-weight: normal;
      text-indent: -1px;
      letter-spacing: var(--letter-spacing-fluid-header);

      transition: opacity 0.2s;
      opacity: 0.9;

      &:is(:hover, :focus-within) {
        opacity: 1;
      }

      &::first-letter {
        color: var(--color-orange);
      }
    }

    h2 {
      text-wrap: stable;
      width: fit-content;
      margin-top: 2px;
      color: var(--color-text-secondary);
      font-family: var(--ff-pixelated);
      font-size: var(--fs-fluid-subheader);
      font-weight: normal;

      &::before,
      &::after {
        color: var(--color-text-subdued);
      }

      &::before {
        content: "{";
        padding-right: 1ch;
      }

      &::after {
        content: "}";
        padding-left: 1ch;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        & {
          animation: header--leaveview linear both;
          animation-timeline: view();
          animation-range: exit 0% exit 50%;
        }
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  import { ScrambleTextPlugin } from "@/lib/gsap/ScrambleTextPlugin";

  gsap.registerPlugin(ScrambleTextPlugin);

  const DEFAULT_CHARS =
    "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  function scramble<Event extends PointerEvent | FocusEvent>(
    event: Pick<Event, "target">,
  ) {
    const target = event.target as HTMLElement;

    if (!target) {
      console.warn("[SCRAMBLE]: No target found");
      return;
    }

    if (
      !gsap.isTweening(target) &&
      window.matchMedia("(prefers-reduced-motion: no-preference)").matches
    ) {
      gsap.to(target, {
        duration: 0.8,
        ease: "sine.in",
        scrambleText: {
          text: target.innerText,
          speed: 2,
          chars: DEFAULT_CHARS,
        },
      });
    }
  }

  document.addEventListener("astro:page-load", () => {
    const header = document.getElementById("header");
    header?.addEventListener("pointerenter", scramble);
    header?.addEventListener("focus", scramble);
  });

  if (import.meta.env.PROD) {
    window.onload = () => {
      const header = document.getElementById("header");
      header && scramble({ target: header });
    };
  }
</script>
