---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<article class="project-card">
  <span class="project-card__title">** {project.data.title} **</span>
  {
    project.data.subtitle && (
      <span class="project-card__subtitle">/* {project.data.subtitle} */</span>
    )
  }
  <p class="project-card__description">
    <Content />
  </p>
</article>

<style lang="scss">
  .project-card {
    display: flex;
    flex-direction: column;

    &__title {
      width: fit-content;
      font-weight: normal;
      font-weight: bold;
    }

    &__subtitle {
      color: var(--clr-text-secondary);
      opacity: 0.6;
    }

    &__description {
      margin-top: 2px;
      max-width: 65ch;
      color: var(--clr-text-secondary);
    }
  }
</style>
