---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<h3 id="tags-title"><a href="/tags/" title="All Tags">[+] Tags</a></h3>
<section class="tags | cluster" aria-labelledby="tags-title">
  {
    tags.map((item, index) => (
      <>
        <a href={`/tags/${item}/`} class="tag | primary-selectable">
          {item}
        </a>
        {index < tags.length - 1 && (
          <span class="separator" aria-hidden="true">
            ,
          </span>
        )}
      </>
    ))
  }
</section>

<style lang="scss">
  h3 {
    max-width: fit-content;
    margin-top: var(--size-8);
    margin-bottom: var(--size-2);
    color: var(--clr-text-secondary);
    font-size: 11px;
    font-family: var(--ff-pixelated);
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    a {
      text-decoration: none;
    }

    &:is(:hover, :active, :focus-within) {
      color: var(--clr-text-highlight);
    }
  }

  .tags {
    font-family: var(--ff-dotmatrix);
    font-size: 0.75rem;
  }

  .tag {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.5ch;
    text-transform: uppercase;
    margin-left: 0.5ch;
    margin-right: 0.25ch;

    &::before {
      content: "#";
      font-size: 1.2em;
      font-family: var(--ff-pixelated);
      color: var(--clr-text-subdued);
      transition: color 0.1s ease-in-out;
    }

    &:is(:hover, :focus-within) {
      &::before {
        color: var(--clr-text-highlight);
      }
    }
  }

  .separator {
    margin-left: 0.5ch;
    margin-right: 1ch;
    color: var(--clr-text-barely-visible);
  }
</style>
