---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<h3><a href="/tags/" title="All Tags">[+] Tags</a></h3>
<div class="tags">
  {
    tags.map((item, index) => (
      <>
        <a href={`/tags/${item}/`} class="tag">
          <span class="tag__name">
            <span class="hash">#</span>
            {item}
          </span>
          {index < tags.length - 1 && (
            <span aria-hidden="true" class="tag__separator">
              ,
            </span>
          )}
        </a>
      </>
    ))
  }
</div>

<style lang="scss">
  h3 {
    max-width: fit-content;
    margin-top: var(--size-8);
    margin-bottom: var(--size-2);
    color: var(--clr-text-secondary);
    font-size: 11px;
    font-family: var(--ff-pixelated);
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    a {
      text-decoration: none;
    }

    &:is(:hover, :active, :focus-within) {
      color: var(--clr-text-highlight);
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    display: flex;
    align-items: center;
    gap: 0.25ch;
    text-transform: capitalize;

    &__name {
      display: flex;
      align-items: center;
      gap: 0.5ch;
      font-family: var(--ff-dotmatrix);
      font-size: 0.75rem;
      text-transform: uppercase;
      margin-left: 0.5ch;
      margin-right: 0.25ch;
      transition: color 0.1s ease-in-out;

      .hash {
        font-size: 1.2em;
        font-family: var(--ff-pixelated);
        color: var(--clr-text-subdued);
        transition: color 0.1s ease-in-out;
      }

      &:is(:hover, :focus-within) {
        color: var(--clr-text-highlight);
        .hash {
          color: var(--clr-text-highlight);
        }
      }
    }

    &__separator {
      margin-right: 0.75ch;
      color: var(--clr-text-subdued);
      opacity: 0.75;
    }
  }
</style>
