---
import ProjectGroup from "@/components/project/ProjectGroup.astro";
import Section from "@/components/Section.astro";
import { getProjectsCollection } from "@/helpers/project";
import { projectFilters } from "@/helpers/project/filters";
import { projectSorters } from "@/helpers/project/sorters";

const projects = await getProjectsCollection();

const iotProjects = projects
  .filter(projectFilters.isFeatured)
  .filter(projectFilters.isInCategory("iot"))
  .toSorted(projectSorters.byPriority);
const softwareProjects = projects
  .filter(projectFilters.isFeatured)
  .filter(projectFilters.isInCategory("software"))
  .toSorted(projectSorters.byPriority);
---

<Section title="Projects" class="projects">
  <h3 slot="header">
    <a href="/projects/1/" class="hoverable" set:text="Projects" /></h3
  >

  <div class="projects-wrapper">
    <div class="line" aria-hidden="true"></div>
    {
      iotProjects.length > 0 && (
        <ProjectGroup title="IOT & Embedded" projects={iotProjects} />
      )
    }
    {
      softwareProjects.length > 0 && (
        <ProjectGroup
          title="Software"
          projects={softwareProjects}
          startIndex={iotProjects.length}
          displayAllProjectsListItem
        />
      )
    }
  </div>
</Section>

<style lang="scss">
  h3 {
    margin-bottom: var(--space-fluid-s);
    font-family: var(--ff-pixelated);
    font-size: calc(var(--fs-fluid-2) * 0.8);
    letter-spacing: var(--letter-spacing-fluid-header);

    &::after {
      content: "...";
      color: var(--color-text-subdued);
      padding-left: 0.25ch;
      transition: letter-spacing 0.2s ease-in-out;
    }

    &:has(a:is(:hover, :focus))::after {
      content: "_..";
      letter-spacing: 0.25em;
    }
  }

  .projects-wrapper {
    position: relative;
  }

  .line {
    position: absolute;
    width: 1px;
    opacity: 0.25;
    z-index: -1;
    top: calc(1.125rem + 14px);
    bottom: 3ch;
    left: calc(1px + 1ch);
    border-left: 2px dotted var(--color-text-subdued);

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: scroll()) {
        animation: line auto linear;
        animation-timeline: scroll();
        animation-range-start: entry 30%;
        animation-range-end: exit 100%;

        mask-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 1) 33.33%,
          rgba(0, 0, 0, 0) 33.33%
        );
        mask-size: 100% 300%;
        mask-position: 0 200%;

        @keyframes line {
          to {
            mask-position: 0 150%;
          }
        }
      }
    }
  }
</style>
