---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<article>
  <span class="title">** {project.data.title} **</span>
  {
    project.data.subtitle && (
      <span class="subtitle">/* {project.data.subtitle} */</span>
    )
  }
  <p>
    <Content />
  </p>
</article>

<style style="scss">
  article {
    display: flex;
    flex-direction: column;

    .title {
      width: fit-content;
      font-weight: normal;
      font-weight: bold;
    }

    .subtitle {
      color: var(--clr-text-secondary);
      opacity: 0.6;
    }

    p {
      margin-top: 2px;
      color: var(--clr-text-secondary);
    }
  }
</style>
