---
import { getCollection, type CollectionEntry } from "astro:content";

import Section from "@/components/Section.astro";
import { booleanCompare } from "@/utils/sorting";
import ProjectCard from "./ProjectCard.astro";

const projects = await getCollection("project");

type Project = CollectionEntry<"project">;
const sorter = (a: Project, b: Project) =>
  booleanCompare(a.data.isFeatured, b.data.isFeatured) ||
  a.id.localeCompare(b.id);
---

<Section title="Projects" featured>
  <ul class="project-list" role="list">
    {
      projects.sort(sorter).map((project, i) => (
        <li class="project-list-item" data-featured={project.data.isFeatured}>
          <span class="project-list-item__marker">
            {i.toString().padStart(2, "0")}
          </span>
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</Section>

<style lang="scss">
  .project-list {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.125rem;
  }

  // @media screen and (min-width: 768px) {
  //   .project-list {
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);
  //     column-gap: 2rem;
  //   }

  //   .project-list-item[data-featured="true"] {
  //     grid-column: span 2;
  //   }
  // }

  .project-list-item {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    padding-inline-start: 1ch;

    &__marker {
      height: fit-content;
      color: var(--clr-text-subdued);
      font-family: var(--ff-dotmatrix);
      line-height: 24px;
      font-weight: bold;
      white-space: nowrap;

      translate: 0 2px;

      @media (prefers-reduced-motion: no-preference) {
        view-timeline-name: --item-timeline;
        animation-name: slide-fade-in;
        animation-fill-mode: both;
        animation-timeline: --item-timeline;
        animation-range: cover 0% cover 10%;
      }
    }
  }
</style>
