---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

import LinkIcon from "@astropub/icons/Link2";
import StarIcon from "@astropub/icons/StarFilled";

import { cached } from "@/utils/cache";
import { isGithubUrl, parseGithubUrl } from "@/utils/github/helpers";
import { getStars } from "./utils/github";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
const { Content } = await render(project);

const {
  links: { repository },
} = project.data;

let stars: number | null = null;
if (repository && isGithubUrl(repository)) {
  const { owner, repo } = parseGithubUrl(repository);
  stars = await cached(
    `stars/${repository.slice(repository.lastIndexOf("/"))}`,
    () => getStars(owner, repo)
  );
}
---

<article class="project-card">
  <span class="project-card__title">{project.data.title}</span>
  {
    project.data.subtitle && (
      <span class="project-card__subtitle">
        {"{ " + project.data.subtitle + " }"}
      </span>
    )
  }

  <div class="project-card__description">
    {project.data.description}
    <!-- <Content /> -->
  </div>

  {
    repository && (
      <div class="project-card__info">
        {stars ? (
          <div class="project-info__stars">
            <StarIcon size="12" fill="gold" />
            <span>{stars} stars</span>
          </div>
        ) : null}
        <div class="project-info__link">
          <a
            href={repository}
            title="Visit Repository"
            target="_blank"
            rel="noopener noreferrer"
          >
            <LinkIcon size="12" />
            Repo
          </a>
        </div>
      </div>
    )
  }
</article>

<style lang="scss">
  .project-card {
    display: flex;
    flex-direction: column;

    &__title {
      font-family: var(--ff-pixelated);
      width: fit-content;
      font-weight: normal;
    }

    &__subtitle {
      margin-top: 4px;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: var(--ff-pixelated);
      font-size: var(--font-size-0);
      line-height: 1;
      color: color-mix(in srgb, var(--clr-text-secondary), transparent 30%);
    }

    &__description {
      max-width: 65ch;
      color: var(--clr-text-secondary);
    }

    &__info {
      --info-flex-gap: 1ch;

      margin-top: 8px;
      margin-left: 1px;
      display: flex;
      align-items: center;
      gap: var(--info-flex-gap);
      font-size: var(--font-size-0);
      font-family: var(--ff-pixelated);

      & > * + * {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
          content: " | ";
          margin-inline-end: var(--info-flex-gap);
          color: var(--clr-text-subdued);
          opacity: 0.75;
        }
      }

      &:has(a[href]) {
        &:last-child::after {
          content: " > ";
          margin-inline-start: 0.5ch;
          color: var(--clr-text-subdued);
          transition: color 0.2s ease-in-out;
        }
      }

      &:has(a[href]:hover, a[href]:active, a[href]:focus-within) {
        &:last-child::after {
          color: var(--clr-text-primary);
        }
      }
    }

    .project-info {
      &__stars {
        display: flex;
        align-items: center;
        column-gap: var(--info-flex-gap);
        text-transform: uppercase;
      }

      &__link {
        transition: color 0.2s;

        &:has(a:hover, a:active, a:focus-within) {
          color: var(--clr-text-highlight);
        }

        & > a {
          display: flex;
          align-items: center;
          column-gap: 1ch;
          color: var(--clr-text-primary);
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.2s;

          &:is(:hover, :active, :focus-within) {
            color: var(--clr-text-highlight);
            text-underline-offset: 0.5em;
          }
        }
      }
    }
  }
</style>
