---
const href = "/assets/tanishq-manuja-resume.pdf";
---

<a
  target="_blank"
  href={href}
  class="ff-pixelated fs-fluid-0"
  title="View Resume"
>
  <span>View Resume ↗</span>
</a>

<style>
  a {
    --social-size: var(--socials-icon-size, var(--space-fluid-m));
    --social-gap: var(--gutter, var(--space-fluid-s));

    --span: 4;
    --width: calc(
      var(--social-size) * var(--span) + (var(--span) - 1) * var(--social-gap) -
        1px
    );

    display: flex;
    justify-content: center;
    width: var(--width);
    margin-top: calc(10px + var(--flow-space, 1em));
    text-transform: uppercase;
    padding-block: 8px;
    border: 1px dashed var(--color-text-subdued);
    transition:
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      background-color 0.25s ease-in-out;

    &:hover {
      color: var(--color-background);
      border-color: var(--color-text-highlight);
      background-color: var(--color-text-highlight);
    }

    span {
      padding-top: 1.1px;
    }
  }
</style>
