---
const href = "/assets/tanishq-manuja-resume.pdf";
---

<a target="_blank" href={href} class="ff-pixelated fs-fluid-1">
  <span>View Resume ↗</span>
</a>

<style>
  a {
    display: flex;
    width: fit-content;
    margin-top: var(--space-fluid-m-l);
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px dashed var(--color-text-subdued);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-text-subdued);
    }

    span {
      padding-top: 1.1px;
    }
  }
</style>
