---
import Section from "@/components/Section.astro";
import { SKILLS } from "@/site.config";
---

<Section title="Skills">
  <p class="skills | fs-fluid-0">
    {
      SKILLS.map((skill) => (
        <>
          <span>{skill}</span>,
        </>
      ))
    }
    <span>and more</span>...
  </p>
</Section>

<style>
  .skills {
    color: var(--color-text-subdued);

    & > span {
      color: var(--color-text-primary);
    }
  }
</style>
