---
import Section from "@/components/Section.astro";
import { SKILLS } from "@/site.config";
---

<Section title="Skills">
  <ul class="cluster | fs-fluid-0">
    {
      SKILLS.map((skill) => (
        <li>
          <span>{skill}</span>
          <span class="color-subdued" role="presentation">
            ,
          </span>
        </li>
      ))
    }
    <li>
      <span>and more</span>...
    </li>
  </ul>
</Section>

<style>
  ul {
    --gutter: 0 1ch;

    li {
      display: flex;
      gap: 0.25ch;
    }
  }
</style>
