---
import Section from "@/components/Section.astro";
import { SKILLS } from "@/site.config";
---

<Section title="Skills">
  <p class="fs-fluid-0 color-subdued">
    {
      SKILLS.map((skill) => (
        <>
          <span class="color-primary">{skill}</span>,
        </>
      ))
    }
    <span class="color-primary">and more</span>...
  </p>
</Section>
