---
import Section from "@/components/Section.astro";

const skills = [
  "Javascript",
  "Typescript",
  "HTML",
  "CSS",
  "C",
  "C++",
  "Angular",
  "React",
  "Astro",
  "Node",
  "Bun",
  "Express",
  "Ionic",
  "Capacitor",
  "MySQL",
  "SQLite",
  "Git",
  "Docker",
  "Linux",
  "Bash",
];
---

<Section title="Skills">
  <p class="skills">
    {
      skills.map((skill) => (
        <>
          <span>{skill}</span>,
        </>
      ))
    }
    <span>and more</span>...
  </p>
</Section>

<style>
  .skills {
    color: var(--clr-text-secondary);

    & > span {
      color: var(--clr-text-primary);
    }
  }
</style>
