---
import Section from "@/components/Section.astro";
import { SOCIALS } from "@/site.config";
---

<Section title="Socials">
  <div class="socials">
    <span class="decoration">[</span>
    {
      SOCIALS.map((social, i) => (
        <div class="social-link">
          <a
            href={social.href}
            target="_blank"
            rel="noopener noreferrer"
            title={social.title}
          >
            {social.name}
          </a>

          {i < SOCIALS.length - 1 && (
            <span class="decoration" aria-hidden="true">
              ,
            </span>
          )}
        </div>
      ))
    }
    <span class="decoration">]</span>
  </div>
</Section>

<style>
  .decoration {
    color: var(--clr-text-subdued);
    user-select: none;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5ch;
    align-items: center;

    .decoration {
      font-family: var(--ff-pixelated);
    }
  }

  .social-link {
    & > .decoration {
      font-family: var(--ff-pixelated);
      margin-left: 2px;
    }

    & > a {
      font-family: var(--ff-dotmatrix);
      font-size: var(--font-size-0);
      text-decoration: none;
      text-transform: uppercase;

      &:is(:hover, :active, :focus-within) {
        color: var(--clr-text-highlight);
        text-underline-offset: 0.5em;
        text-decoration: underline;
      }
    }
  }
</style>
