---
import { SOCIALS } from "@/site.config";
---

<ul class="cluster">
  {
    SOCIALS.map(({ href, name, title, Icon }) => (
      <li>
        <a
          href={href}
          target="_blank"
          title={title}
          class="color-secondary hoverable"
        >
          <Icon height="100%" width="100%" fill="currentColor" class="icon" />
          <span class="visually-hidden">{name}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    height: var(--socials-icon-size, var(--space-fluid-m));
    aspect-ratio: 1;
  }
</style>
