---
import { SOCIALS } from "@/site.config";
---

<div class="socials">
  <span class="decor" aria-hidden="true"># SOCIALS = [</span>
  {
    SOCIALS.map((social, i) => (
      <div class="social-link">
        <a
          href={social.href}
          target="_blank"
          rel="noopener noreferrer"
          title={social.title}
        >
          {social.name}
        </a>

        {i < SOCIALS.length - 1 && (
          <span class="decor" aria-hidden="true">
            ,
          </span>
        )}
      </div>
    ))
  }
  <span class="decor" aria-hidden="true">]</span>
</div>

<style>
  .socials {
    padding-top: var(--size-2);
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5ch;
    align-items: center;

    & .decor {
      color: var(--clr-text-secondary);
      opacity: 0.7;
      white-space: nowrap;
    }
  }

  .social-link {
    & > .decor {
      font-family: var(--ff-pixel);
      margin-left: 2px;
    }

    & > a {
      font-family: var(--ff-pixel-variant);
      font-size: var(--font-size-0);
      text-decoration: none;
      text-transform: uppercase;

      &:is(:hover, :active, :focus-within) {
        color: var(--clr-text-highlight);
        text-underline-offset: 0.5em;
        text-decoration: underline;
      }
    }
  }
</style>
