---
import { SOCIALS } from "@/site.config";
---

<ul class="cluster">
  {
    SOCIALS.map(({ href, name, title, Icon }) => (
      <li>
        <a href={href} title={title} class="color-secondary hoverable">
          <Icon size="100%" fill="currentColor" class="icon" />
          <span class="visually-hidden">{name}</span>
        </a>
      </li>
    ))
  }
</ul>

<style>
  li {
    height: calc(var(--space-fluid-m) * 0.9);
    aspect-ratio: 1;
  }
</style>
