@import url(./scrollbar.css);

html {
  font-family: var(--ff-monospace);
  background: var(--clr-background);
  color: var(--clr-text-primary);
}

::selection {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    translate: 0 5vh;
  }
}
