@import url(./others/scrollbar.css);

body {
  font-family: var(--ff-monospace);
  font-size: var(--fs-medium);
  background: var(--color-background);
  color: var(--color-text-primary);
}

::selection {
  background-color: var(--color-grayscale-200);
  color: var(--color-grayscale-950);
}
