@import url(./scrollbar.css);

html {
  font-family: var(--ff-monospace);
  background: var(--clr-background);
  color: var(--clr-text-primary);
}

body {
  min-height: 100svh;
  text-wrap: pretty;
}

.base-layout {
  --layout-max-width: var(--content-width);
  --layout-padding-inline: var(--content-padding-inline);

  margin-inline: auto;
  width: min(var(--layout-max-width), 100% - 2 * var(--layout-padding-inline));
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    translate: 0 min(25px, 5vh);
  }
}
