/* Read more at
1. https://piccalil.li/blog/a-more-modern-css-reset
2. https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Predictable box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Smooth scroll effect */
html:focus-within {
  scroll-behavior: smooth;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  --webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p {
  text-wrap: pretty;
  hyphens: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  padding: 0;
  text-indent: 0;
  list-style: none;
}

a[class] {
  color: currentColor;
  text-decoration: none;
}

a:not([class]) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
