@import url(./tokens/spacing.css);
@import url(./tokens/colors.css);
@import url(./tokens/fonts.css);

:root {
  --gutter: var(--space-m);
  --content-width: 800px;

  --color-background: var(--color-black);
  --color-text-primary: var(--color-grayscale-300);
  --color-text-secondary: var(--color-grayscale-600);
  --color-text-highlight: var(--color-white);
  --color-text-subdued: var(--color-grayscale-900);
  --color-barely-visible: var(--color-grayscale-950);

  --letter-spacing-fluid-header: clamp(0.0469rem, 0.0284rem + 0.0924vw, 0.1rem);
}
