.amber {
  color: var(--clr-amber);
}

.primary-selectable {
  color: var(--clr-text-primary);
  transition: color 0.2s var(--ease-in-out-1);

  &:is(:hover, :active, :focus-within) {
    color: var(--clr-text-highlight);
  }
}

.secondary-selectable {
  color: var(--clr-text-secondary);
  transition: color 0.2s var(--ease-in-out-1);

  &:is(:hover, :active, :focus-within) {
    color: var(--clr-text-highlight);
  }
}

.no-scrollbar-on-mobile {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  @media (hover: none) and (pointer: coarse) {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      background-color: transparent;
    }
  }
}
