@use "node_modules/utopia-core-scss/src/utopia" as utopia;

:root {
  @include utopia.generateTypeScale(
    (
      minWidth: 320,
      maxWidth: 1080,
      minFontSize: 16,
      maxFontSize: 18,
      minTypeScale: 1.2,
      maxTypeScale: 1.414,
      positiveSteps: 4,
      negativeSteps: 0,
      relativeTo: "container",
      prefix: "fs-fluid-",
    )
  );
}

:root {
  --ff-monospace:
    ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;

  --fs-pixelated-small: 11px;
  --fs-pixelated-medium: 16.5px;
  --fs-pixelated-large: 22px;

  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.25rem;
}

:root {
  --fs-adjust-pixelated: 0.5;
  --fs-adjust-dotmatrix: 0.5;
}
