:root {
  @utopia typeScale({
    minFontSize: 16,
    maxFontSize: 18,
    minTypeScale: 1.2,
    maxTypeScale: 1.414,
    positiveSteps: 4,
    negativeSteps: 0,
    prefix: 'fs-fluid',
    relativeTo: 'container'
  });
}

:root {
  --ff-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --ff-pixelated: "Departure Mono", ui-monospace, monospace;
  --ff-dotmatrix: "Nothing", ui-monospace, monospace;

  --fs-pixelated-small: 11px;
  --fs-pixelated-medium: 16.5px;
  --fs-pixelated-large: 22px;

  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.25rem;
}
