@use "node_modules/utopia-core-scss/src/utopia" as utopia;

:root {
  @include utopia.generateSpaceScale(
    (
      minWidth: 320,
      maxWidth: 1080,
      minSize: 16,
      maxSize: 18,
      positiveSteps: (
        1.5,
        2,
        3,
        4,
        6,
      ),
      negativeSteps: (
        0.75,
        0.5,
      ),
      customSizes: (
        "m-2xl",
        "m-3xl",
      ),
      usePx: true,
      relativeTo: "viewport",
      prefix: "space-fluid-",
    )
  );
}
