---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import { AUTHOR } from "@/site.config";

import About from "./_components/About.astro";
import Experience from "./_components/Experience.astro";
import Header from "./_components/Header.astro";
import Projects from "./_components/Projects.astro";
import Skills from "./_components/Skills.astro";

const description = `${AUTHOR}'s minimalist portfolio website.`;
---

<Layout description={description}>
  <Header />
  <main>
    <About />
    <Skills />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>

<style>
  main {
    --section-gap: var(--space-fluid-l-xl);

    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    padding-block: var(--section-gap);
  }
</style>
