---
import Layout from "@/layouts/Layout.astro";
import About from "./_components/About.astro";
import Skills from "./_components/Skills.astro";
import Projects from "./_components/Projects.astro";
import Experience from "./_components/Experience.astro";
import Footer from "./_components/Footer.astro";
import Header from "./_components/Header.astro";
import Socials from "./_components/Socials.astro";
---

<Layout>
  <Header />
  <main>
    <About />
    <Socials />
    <Skills />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>

<style>
  main {
    --section-gap: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    padding-block: var(--section-gap);
  }
</style>
