---
import Layout from "@/layouts/Layout.astro";
import About from "./_components/About.astro";
import Skills from "./_components/Skills.astro";
import Projects from "./_components/Projects.astro";
import Experience from "./_components/Experience.astro";
import Footer from "./_components/Footer.astro";
import Header from "./_components/Header.astro";
---

<Layout>
  <Header />
  <main>
    <About />
    <Skills />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>
