---
export interface Props {
  border?: false | "thick" | "thin" | "none";
}

const { border = "thick" } = Astro.props;
---

<footer>
  <slot />
  {border && border !== "none" && <hr data-type={border} />}
  <span class="ff-pixelated"
    >Created with <span class="heart">♥</span> by Tanishq Manuja</span
  >
</footer>

<style>
  footer {
    hr {
      border-color: var(--color-text-subdued);
      border-bottom: 1px dashed var(--color-text-subdued);

      &[data-type="thick"] {
        border-style: dashed;
      }
    }

    & > span {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 1.5ch;
      font-size: calc(var(--fs-small) * 1.05);
      padding-block: 0.875rem 1.125rem;
      word-spacing: 0.5ch;
    }

    .heart {
      color: var(--pink-6);
      font-size: 1.5em;
    }
  }
</style>
