<footer>
  <slot />
  <hr />
  <span>Created with <span class="heart">♥</span> by Tanishq Manuja</span>
</footer>

<style>
  footer {
    hr {
      border-color: var(--clr-text-subdued);
      border-style: dashed;
    }

    & > span {
      font-family: var(--ff-pixelated);
      font-size: var(--fs-pixelated-small);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5ch;
      padding-block: 0.875rem 1.125rem;
      word-spacing: 0.5ch;
    }

    .heart {
      color: var(--pink-6);
      font-size: 1.5em;
    }
  }
</style>
