---
interface Props {
  back?: string | true;
  home?: boolean;
}

const { back, home = true } = Astro.props;

const backHref = back === true ? "javascript:history.back()" : back;
---

<header>
  <div class="buttons">
    {
      back && (
        <a href={backHref} class="back">
          <span class="symbol">&lsaquo;</span>
          <span>Go Back</span>
        </a>
      )
    }
    {
      home && (
        <a href="/" class="home">
          <span>Home</span>
        </a>
      )
    }
  </div>
  <h1 class="header__title">
    <slot />
  </h1>
</header>

<style>
  header {
    margin-top: clamp(30px, 7vw, 6rem);
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5ch;

    a {
      height: 26.5px;
      max-width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1ch;

      padding-block: 0.25rem;
      padding-inline: 0.575rem;
      color: var(--clr-background);
      background-color: var(--clr-text-primary);
      font-family: var(--ff-pixelated);
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      border-radius: 1px;

      &.back {
        .symbol {
          font-size: 1.125em;
        }

        span:not(.symbol) {
          padding-right: 0.5ch;
        }

        &:is(:hover, :focus-within) {
          background-color: var(--clr-text-highlight);
        }
      }

      &.home {
        color: var(--clr-background);
        background-color: var(--clr-amber);
        border: 2px solid var(--clr-amber);
      }
    }
  }

  .header__title {
    margin-block: 1.275rem 1.6rem;
    width: fit-content;
    color: var(--clr-text-highlight);
    font-size: clamp(1.75rem, 6vw, 3rem);
    font-family: var(--ff-pixelated);
    font-weight: normal;
    text-indent: -1px;
    letter-spacing: clamp(0.75px, 0.2vw, 0.1rem);
  }
</style>
