---
import HeaderNavigation from "./HeaderNavigation.astro";

interface Props {
  back?: string | boolean;
  home?: boolean;
}

const { back = true, home = true } = Astro.props;
---

<header>
  <HeaderNavigation back={back} home={home} />
  <h1 class="ff-pixelated fs-fluid-3">
    <slot />
  </h1>
</header>

<style>
  header {
    margin-top: clamp(30px, 7vw, 6rem);
  }

  h1 {
    margin-block: var(--space-fluid-m-2xl) var(--space-fluid-m-l);
    width: fit-content;
    color: var(--color-text-highlight);
    font-weight: normal;
    text-indent: -1px;
    letter-spacing: var(--letter-spacing-fluid-header);
  }
</style>
