---
interface Props {
  back?: string | boolean;
  home?: boolean;
}

const { back, home = true } = Astro.props;

const backHref = back === true ? "javascript:history.back()" : back || null;
---

<nav class="ff-pixelated fs-small">
  {
    back && (
      <a href={backHref} class="back">
        <span class="symbol">&lsaquo;</span>
        <span>Go Back</span>
      </a>
    )
  }
  {
    home && (
      <a href="/" class="home" data-variant="accent">
        <span>Home</span>
      </a>
    )
  }
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    --bg-button: var(--color-text-primary);

    color: var(--color-background);
    background-color: var(--bg-button);
    text-transform: uppercase;
    font-weight: bold;

    transition: background-color 0.2s ease-in-out;

    &:is(:hover, :focus-within) {
      background-color: lch(from var(--bg-button) calc(l + 5) c h);
    }

    &[data-variant="accent"] {
      --bg-button: var(--color-amber);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;

    padding-block: var(--space-fluid-2xs);
    padding-inline: var(--space-fluid-xs-s);
  }

  a.back symbols {
    line-height: 1cqh;
    font-size: 1.125em;
  }
</style>
