---
interface Props {
  backUrl?: string;
}
---

<header>
  <a href={Astro.props.backUrl} class="header__back">
    <span class="symbol">&lsaquo;</span>
    <span>Go Back</span>
  </a>
  <h1 class="header__title">
    <slot />
  </h1>
</header>

<style>
  header {
    margin-top: clamp(30px, 7vw, 6rem);
  }

  .header__back {
    max-width: fit-content;
    display: flex;
    align-items: center;
    gap: 1ch;

    padding-block: 0.25rem;
    padding-inline: 0.575rem;
    color: var(--clr-background);
    background-color: var(--clr-text-primary);
    font-family: var(--ff-pixelated);
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 1px;

    .symbol {
      font-size: 1.125em;
    }

    span:not(.symbol) {
      padding-right: 0.5ch;
    }

    &:is(:hover, :focus-within) {
      background-color: var(--clr-text-highlight);
    }
  }

  .header__title {
    margin-block: 1.275rem 1.6rem;
    width: fit-content;
    color: var(--clr-text-highlight);
    font-size: clamp(1.75rem, 6vw, 3rem);
    font-family: var(--ff-pixelated);
    font-weight: normal;
    text-indent: -1px;
    letter-spacing: clamp(0.75px, 0.2vw, 0.1rem);

    transition: opacity 0.2s;
    opacity: 0.9;

    &:is(:hover, :focus-within) {
      opacity: 1;
    }
  }
</style>
