---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {}

const theme = Astro.site
  ? new URL("giscus/theme.css", Astro.site).href
  : "transparent_dark";
---

<section {...Astro.props}>
  <div id="giscus"></div>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="tanishqmanuja/discussions.giscus"
    data-repo-id="R_kgDONcINMQ"
    data-category="Portfolio Comments"
    data-category-id="DIC_kwDONcINMc4ClIUV"
    data-mapping="url"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme={theme}
    data-lang="en"
    crossorigin="anonymous"
    async></script>
</section>
