---
interface Props {
  title: string;
  featured?: boolean;
  href?: string;
}

const { title, featured, href } = Astro.props;
const id = title.toLowerCase().replaceAll(" ", "-");
---

<section id={id}>
  <!-- prettier-ignore -->
  <h3 class:list={{ featured }}>{ href 
      ? <a href={href} class="primary-selectable">{title}</a> 
      : title
    }</h3>
  <slot />
</section>

<style style="scss">
  section {
    & > h3 {
      margin-bottom: var(--space-2xs);

      font-family: var(--ff-dotmatrix);
      font-size: var(--fs-small);

      &:not(.featured) {
        letter-spacing: 2px;
        text-transform: uppercase;

        &::before {
          content: "//";
          color: var(--color-orange);
          padding-right: 1ch;
          letter-spacing: normal;
        }
      }

      &.featured {
        margin-bottom: var(--space-s);
        font-family: var(--ff-pixelated);
        font-size: calc(var(--fs-fluid-2) * 0.8);
        letter-spacing: var(--letter-spacing-fluid-header);

        &::after {
          content: "...";
          color: var(--color-text-subdued);
          padding-left: 0.25ch;
          transition: letter-spacing 0.2s ease-in-out;
        }

        &:has(a:is(:hover, :focus))::after {
          content: "_..";
          letter-spacing: 0.25em;
        }
      }
    }
  }
</style>
