---
interface Props {
  title: string;
  featured?: boolean;
  href?: string;
}

const { title, featured, href } = Astro.props;
const id = title.toLowerCase().replaceAll(" ", "-");
---

<section id={id}>
  <!-- prettier-ignore -->
  <h3 class:list={{ featured }}>{ href 
      ? <a href={href} class="primary-selectable">{title}</a> 
      : title
    }</h3>
  <slot />
</section>

<style style="scss">
  section {
    & > h3 {
      margin-bottom: var(--size-2);

      font-size: var(--font-size-0);
      font-family: var(--ff-dotmatrix);
      letter-spacing: 2px;
      text-transform: uppercase;

      &.featured {
        margin-bottom: var(--size-4);
        text-transform: none;
        font-family: var(--ff-pixelated);
        font-size: clamp(1.2rem, 2.5vw, 1.75rem);

        &::after {
          content: "...";
          color: var(--clr-text-subdued);
          padding-left: 0.25ch;
          letter-spacing: normal;
          transition: letter-spacing 0.2s ease-in-out;
        }

        &:has(a:is(:hover, :focus))::after {
          content: "_..";
          letter-spacing: 0.25em;
        }
      }

      &:not(.featured) {
        &::before {
          content: "//";
          color: var(--clr-orange);
          padding-right: 1ch;
          letter-spacing: normal;
        }
      }
    }
  }
</style>
