---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  title: string;
}

const { title } = Astro.props;
const id = title.toLowerCase().replaceAll(" ", "-");
---

<section id={id} {...Astro.props}>
  <slot name="header">
    <h3 set:text={title} />
  </slot>
  <slot />
</section>

<style style="scss">
  section {
    & > h3 {
      margin-bottom: var(--space-fluid-xs);

      font-family: var(--ff-dotmatrix);
      font-size: var(--fs-small);

      letter-spacing: 2px;
      text-transform: uppercase;

      &::before {
        content: "$";
        color: var(--color-orange);
        padding-right: 1ch;
        letter-spacing: normal;
      }

      &::after {
        content: "_ _ _";
        color: var(--color-text-subdued);
        padding-left: 1ch;
        letter-spacing: normal;
      }
    }
  }
</style>
