---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"video"> {
  src: string;
  type: "mp4" | "webm";
}

const { src, type } = Astro.props;
---

<div class="video-box">
  <video {...Astro.props}>
    <source src={src} type={`video/${type}`} />
  </video>
</div>

<style lang="scss">
  .video-box {
    width: 100%;
    display: grid;
    place-items: center;

    margin-inline: auto;
    margin-block: var(--space-s-m);
    padding: 10px;
    border: 1px dashed var(--color-text-subdued);

    &:has(.mobile) {
      width: min(80%, 380px);
      margin-block: var(--space-m-l);
      border-radius: 12px;
      border-style: none;
      background-color: rgb(from var(--color-barely-visible) r g b / 0.5);
    }
  }

  video {
    width: 100%;

    &.mobile {
      border-radius: 6px;
    }
  }
</style>
