---

---

<div class="embla__selected-snap-display">1 / 0</div>

<style>
  .embla__selected-snap-display {
    justify-self: flex-end;
    align-self: center;
    color: var(--color-text-secondary);
    font-weight: 600;
  }
</style>
